<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>club managment system</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   
    <link rel="stylesheet" href="club.css">
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="login.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    
    <!-- Navigation -->
    <nav>
        <img src="my new proj/AdamaScienceandTechnologyUniversityASTU-logo.jpg" alt="">
        <div class="navigation">
            <ul>
                <i id="menu-close" class="fa fa-times" aria-hidden="true"></i>
                <li><a href="{%url 'home'%}">Home</a></li>
                <li><a href="about.html">about</a></li>
                <li><a href="Blog.html">blog</a></li>
                <li><a href="activities.html">activities</a></li>
                <li><a href="contact.html">contact</a></li>
                
            </ul>
            <i id="menu-btn" class="fa fa-bars" aria-hidden="true"></i>
        </div>
    </nav>

    <!-- Home -->
    <section class="about-home">
        <h2>Login/</h2>
       
    </section>
    
    <!-- loginpage -->

    <section>
        <div class="form">
            <form method="post">
                {%csrf_token%}
                <h3>login to your Account Now!</h3>
                <input type="text" placeholder="user-name" name="username" id="">
                <input type="text" placeholder="pass word" name="password" id="">
                <div class="btn">
                    <a class="yellow" href="{}">login</a>
                </form>
                <a class="blue" href="member_add.html">register</a>
             </div>  
        </div>
    </section>
    
   
    <!-- footer -->

        <footer>
            <div class="footer-column">
                <h3>Top Services</h3>
                <li>manage Reputation</li>
                <li>Power Tools</li>
                <li>managed Websites</li>

            </div>
            <div class="footer-column">
                <h3>Guides</h3>
                <li>Research</li>
                <li>Experts</li>
               
            </div>
            <div class="footer-column">
                <h3>Guides</h3>
                <li>Research</li>
                <li>Experts</li>
               
            </div>

            <div class="footer-column">
                <h3>Guides</h3>
                <li>Research</li>
                <li>Experts</li>
               
            </div>

            <div class="footer-column">
                <h3>news letter</h3>
                <p>you can trust us. us only sent promo offers.</p>
                <div class="subscribe">
                    <input type="text" placeholder="Your Email adress">
                    <a href="#" class="yellow">subscribe</a>
                </div>
            </div>

            <!-- <div class="copy-right">
                <p>copy-right @2023 All right reserved</p>
                <div class="profile-links">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </div>
            </div> -->
        </footer>

      
        <script>
            $(document).ready(function() {
                $('#menu-btn').click(function(){
                    $('nav .navigation ul').addClass('active');
                });
            
                $('#menu-close').click(function(){
                    $('nav .navigation ul').removeClass('active');
                });
            });
        </script>

</body>
</html>